<header class="hdr">
  <h1>{{name}}</h1>
  <p class="meta">{{label}} • {{email}} • {{phone}} • {{url}}</p>
</header>
<section class="letter">
  {{#coverLetter.addressee}}<p>{{coverLetter.addressee}}</p>{{/coverLetter.addressee}}
  {{#coverLetter.company}}<p>{{coverLetter.company}}</p>{{/coverLetter.company}}
  {{#coverLetter.address}}<p>{{coverLetter.address}}</p>{{/coverLetter.address}}
  <p>{{today}}</p>
  {{#coverLetter.salutation}}<p>{{coverLetter.salutation}}</p>{{/coverLetter.salutation}}
  {{{coverLetter.bodyHtml}}}
  {{#coverLetter.closing}}<p>{{coverLetter.closing}}</p>{{/coverLetter.closing}}
  <p>{{name}}</p>
</section>
